USE [master]
GO
/****** Object:  Database [MVCAPP]    Script Date: 20/12/2017 04:10:28 p.m. ******/
CREATE DATABASE [MVCAPP] ON  PRIMARY 
( NAME = N'MVCAPP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\MVCAPP.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVCAPP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\MVCAPP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVCAPP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVCAPP]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 20/12/2017 04:10:28 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT] [varchar](50) NULL,
	[QUANTITY] [int] NULL,
	[MODIFIED_DATE] [varchar](50) NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([ID], [PRODUCT], [QUANTITY], [MODIFIED_DATE]) VALUES (1, N'Product1', 1000, N'10/12/2015')
INSERT [dbo].[PRODUCTS] ([ID], [PRODUCT], [QUANTITY], [MODIFIED_DATE]) VALUES (2, N'Product2', 550, N'10/10/2014')
INSERT [dbo].[PRODUCTS] ([ID], [PRODUCT], [QUANTITY], [MODIFIED_DATE]) VALUES (3, N'Product3', 233, N'12/05/2015')
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
USE [master]
GO
